@import url('https://fonts.googleapis.com/css?family=Muli:&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  font-family: 'Muli', sans-serif;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #f3f3f3;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  transition: flex 0.75s ease-in;
}

.panel-title {
  position: absolute;
  font-size: 24px;
  bottom: 40px;
  left: 40px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active .panel-title {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
} ;
